@{
    ViewBag.Title = "Home Page";
}

<div class="clevepic">
    <div class="container-fluid">
        <h1>C-Town Hot Spots</h1>
        <p class="lead">Your guide to Cleveland's hottest things to do</p>
    </div>
</div>
<div class="row">
    <div class="container-fluid">

        <div class="col-md-4 pic1">
        </div>

        <div class="col-md-4 pic2">
        </div>

        <div class="col-md-4 pic3">
        </div>
    </div>

    </div>